---
---
$primary-color: #619FCE;
$secondary-color: #9DCCD2;
$primary-alt-color: #974E0A;
$secondary-alt-color: #A17C50;
$light-bg-color: #FCF6E8;
$dark-bg-color: #5AC9E7;
$black: #151515;
$gray: #727272;
$white: #efefef;
$font: 'THSarabunNew';

@import 'fonts/thsarabunnew';
@import 'base/reset';
@import 'base/basic';
@import 'base/grid';

@import 'vendor/aos';
@import 'vendor/owl';
@import 'vendor/lity';


@import 'style/main';

