
    <!-- about
    ================================================== -->
    <section id="about">
        <section id="activity">

        <!-- <div class="row about-intro">

            <div class="col-four">
                <h1 class="intro-header" data-aos="fade-up">About Our App</h1>
            </div>
            <div class="col-eight">
                <p class="lead" data-aos="fade-up">
                    Excepteur enim magna veniam labore veniam sint. Ex aliqua esse proident ullamco voluptate. Nisi nisi nisi aliqua eiusmod dolor dolor proident deserunt occaecat elit Lorem reprehenderit. Id culpa veniam ex aliqua magna elit pariatur do nulla. Excepteur enim magna veniam labore veniam sint.
                </p>
            </div>                       
            
        </div> -->

        <div class="row about-features">

            <div class="features-list  block-mob-full group">
                <h1>กิจกรรมต่างๆในชุมชนนาเกลือ</h1>

                <div class="bgrid feature" data-aos="fade-up">	

                    <span class="icon"><img src="http://placehold.it/200x200"></span>            

                    <div class="service-content">	
                        <h3>การทำซั้งเชือก</h3>

                        <p>“ซั้งเชือก” คือหญ้าเทียมในทะเล เป็นการนำภูมิปัญญาชาวบ้านที่มีมาแต่โบราณ มาใช้ทดแทนหญ้าจริงในทะเล ซึ่ง “ซั้งเชือก” เป็นเครื่องมือดึงดูดสัตว์น้ำให้มาอยู่รวมกันเป็นจำนวนมากเพื่ออนุรักษ์สัตว์น้ำขนาดเล็กและรักษาสมดุลของระบบนิเวศน์ในทะล ถือเป็นการวางรากฐานให้กับการประกอบอาชีพประมงชุมชนเป็นไปได้อย่างยั่งยืน โดยชาวบ้านจะนำซั้งเชือก หรือทุ่นประการังเทียมไปทิ้งไว้ในทะเลให้ทำหน้าที่เป็นแหล่งอาหาร ที่หลบภัยและแหล่งอนุบาลสัตว์น้ำขนาดเล็ก นอกจากนี้ประโยชน์อีกทางของซั้งคือ ช่วยป้องกันเรือประมงขนาดใหญ่ เช่น เรืออวนลาก มาทำการประมงในเขตน่านน้ำหวงห้ามได้อีกทางหนึ่งด้วย
                        </p>
                        
                    </div> 	         	 

                    </div> <!-- /bgrid -->

                    <!-- <div class="bgrid feature" data-aos="fade-up">	

                        <span class="icon"><i class="icon-image"></i></span>                          

                    <div class="service-content">	
                        <img src="http://placehold.it/200x200">
                        <h3>Retina Ready</h3>  

                        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit.
                        </p>

                        
                    </div>	                          

                </div> --> <!-- /bgrid -->

                <!-- <div class="bgrid feature" data-aos="fade-up">

                    <span class="icon"><i class="icon-paint-brush"></i></span>		            

                    <div class="service-content">
                        <img src="http://placehold.it/200x200">

                        <h3>Stylish Design</h3>

                        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit.
                        </p> 
                            
                    </div> 	            	               

                </div> --> <!-- /bgrid -->

                    <!-- <div class="bgrid feature" data-aos="fade-up">

                        <span class="icon"><i class="icon-file"></i></span>	              

                    <div class="service-content">
                        <h3>Clean Code</h3>

                        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit.
                        </p> 
                        
                    </div>                

                    </div> --> <!-- /bgrid -->

                <!-- <div class="bgrid feature" data-aos="fade-up">

                    <span class="icon"><i class="icon-sliders"></i></span>	            

                    <div class="service-content">	
                        <h3>Easy To Customize</h3>

                        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit.
                        </p>                            
                    </div>	               

                </div> --> <!-- /bgrid -->

                <!-- <div class="bgrid feature" data-aos="fade-up">

                    <span class="icon"><i class="icon-gift"></i></span>	   	           

                    <div class="service-content">
                        <h3>Free of Charge</h3>

                        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit.
                        </p> 
                            
                    </div>	               

                </div> --> <!-- /bgrid -->

            </div> <!-- end features-list -->

        </div> <!-- end about-features -->
    
        </section>
    </section> <!-- end about -->  
   
