
    <!-- about
    ================================================== -->
    <section id="about">
    <section id="contact">

        <div class="row about-intro">

            <div class="col-four">
                <h1 class="intro-header" data-aos="fade-up">ติดต่อเรา</h1>
                <p class="lead" data-aos="fade-up">
                    <h3>ส่งข้อความหาเรา</h3>

                <form>
                    <div>
                        <label for="sampleInput">Your email</label>
                        <input class="full-width" type="email" placeholder="test@mailbox.com" id="sampleInput">
                    </div>
                   
                    <label for="exampleMessage">Message</label>
                    <textarea class="full-width" placeholder="Your message" id="exampleMessage"></textarea>

                    <label class="add-bottom">
                        <input type="checkbox">                     
                        <span class="label-text">Send a copy to yourself</span>
                    </label>
                   
                    <input class="button-primary" type="submit" value="Submit">

                </form>  
                </p>
                
            </div>
            <div class="col-eight">

                <div class="row">
                    <img src="../images/avatars/user-1.jpg" style="border-radius: 50%; width: 200px;height: 200px;">
                    <h3>นางศรีสุดา  ราษฎร์นิยม</h3><h5>ประธานชมรมส่งเสริมการท่องเที่ยวโดยชุมชนนาเกลือ</h5>
                    <p>เบอร์โทร. 086-821-9011</p>    
                </div>
                <div class="row">
                    <img src="../images/avatars/user-2.jpg" style="border-radius: 50%; width: 200px;height: 200px;">
                    <h3>นางสาวอรุณี ห่อทองค</h3><h5>รองประธานชมรมส่งเสริมการท่องเที่ยวโดยชุมชนนาเกลือ</h5>
                    <p>เบอร์โทร. 081-809-0968  <br>อีเมลล์ anniepattaya@hotmail.com</p>    
                </div>
                
            </div>                       
            <blockquote style="float: right; clear: both;"><a href="../contact"> ดูทั้งหมด <i class="mi mi-ResizeTouchNarrowerMirrored"></i></a></blockquote>
            
        </div>
    </section>
    </section> <!-- end about -->  
   
