
    <!-- about
    ================================================== -->
    <section id="about">
    <section id="contact">

        <div class="row about-intro">
                <div class="col-twelve">
                    <div class="row">
                    <div class="col-six" data-aos="fade-up">
                        <img src="../images/avatars/user-1.jpg" style="border-radius: 50%; width: 200px;height: 200px;">
                        <h3>นางศรีสุดา  ราษฎร์นิยม</h3><h5>ประธานชมรมส่งเสริมการท่องเที่ยวโดยชุมชนนาเกลือ</h5>
                        <p>เบอร์โทร. 086-821-9011</p>    
                    </div>
                    <div class="col-six" data-aos="fade-up">
                        <img src="../images/avatars/user-2.jpg" style="border-radius: 50%; width: 200px;height: 200px;">
                        <h3>นางสาวอรุณี ห่อทองค</h3><h5>รองประธานชมรมส่งเสริมการท่องเที่ยวโดยชุมชนนาเกลือ</h5>
                        <p>เบอร์โทร. 081-809-0968  <br>อีเมลล์ anniepattaya@hotmail.com</p>    
                    </div>
                    </div>
                    
                </div>                       
                <blockquote style="float: right; clear: both;" data-aos="fade-up"><a href="../contact"> ดูทั้งหมด <i class="mi mi-ResizeTouchNarrowerMirrored"></i></a></blockquote>
                

            <div class="col-twelve">
                <h1 class="intro-header" data-aos="fade-up">ติดต่อเรา</h1>
                <p class="lead" data-aos="fade-up">
                    <h3 data-aos="fade-up">ส่งข้อความหาเรา</h3>

                <form name="contact" data-aos="fade-up" netlify>
                    <div>
                        <label for="sampleInput">ชื่อ</label>
                        <input class="full-width" type="text" placeholder="ชื่อ" id="sampleInput" name="name">
                        <label for="sampleInput">email ของคุณ</label>
                        <input class="full-width" type="email" placeholder="test@mailbox.com" id="sampleInput" name="email">
                    </div>

                    <label for="exampleMessage">ช้อความ</label>
                    <textarea class="full-width" placeholder="เขียนข้อความถึงเรา" id="exampleMessage" name="massage"></textarea>

                    <!--
                    <label class="add-bottom">
                        <input type="checkbox">
                        <span class="label-text">Send a copy to yourself</span>
                    </label> -->

                    <input class="button-primary" type="submit" value="ส่งข้อความ">

                </form>  
                </p>
                
            </div>
        </div>
    </section>
    </section> <!-- end about -->  
   
