
    <!-- footer
    ================================================== -->
    <footer>

        <div class="footer-main">
            <div class="row">
                <ul class="footer-social-list" style="text-align: center;">
                    <li>
                        <img src={{"/images/logo.png" | relative_url }} style="width: 52px; background-color: #fff; border-radius: 100%"></li>
                    <li>
                        <img src={{"/images/logoproject.png" | relative_url }} style="width: 52px; background-color: #fff; border-radius: 100%"></li>
                    <li>
                        <img src={{"/images/logogov.png" | relative_url }} style="width: 52px; background-color: #fff; border-radius: 100%"></li>
                </ul>

            </div> <!-- /row -->
            <div class="row">
                <ul class="footer-social-list" style="text-align: center;">
                    <li>
                    <a href="ttps://www.facebook.com/Naklua.Pattaya/"><i class="fa fa-facebook-square fa-lg"></i></a>
                </ul>
            </div> <!-- /row -->
        </div> <!-- end footer-main -->


      <div class="footer-bottom">

      	<div class="row">

      		<div class="col-twelve">
	      		<div class="copyright">
		         	<span>© Copyright Naklua Journey 2018.</span>
		         	
		         </div>

		         <div id="go-top">


                    <a><img src={{"/images/logo.png" | relative_url }} class="icon" style="width: 52px; background-color: #fff; border-radius: 100%"><br></a>
                    <a><img src={{"/images/logoproject.png" | relative_url }} class="icon" style="width: 52px; background-color: #fff; border-radius: 100%"><br></a>
                    <a><img src={{"/images/logogov.png" | relative_url }} class="icon" style="width: 52px; background-color: #fff; border-radius: 100%"><br></a>
                    <a href="ttps://www.facebook.com/Naklua.Pattaya/"><i class="fa fa-facebook-square"></i></a>
		            <a class="smoothscroll" title="Back to Top" href="#top"><i class="icon-arrow-up"></i></a>
		         </div>
	      	</div>

      	</div> <!-- end footer-bottom -->

      </div>

    </footer>

    <div id="preloader">
    	<div id="loader"></div>
    </div>

    

    <!-- Java Script
    ================================================== -->
    <script src={{ "js/jquery-2.1.3.min.js" | relative_url }}></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src={{ "js/plugins.js" | relative_url }}></script>
    <script src={{ "js/main.js" | relative_url }}></script>
    <script src={{ "/js/jquery.youtubebackground.js" | relative_url }}></script>


<script type="text/javascript">
    $('#video').YTPlayer({
    fitToBackground: true,
    videoId: '0bnOyOiHCK8',
    autoplay: 1,
    controls: 1,
    showinfo: 0,
    wmode: 'transparent',
    branding: 0,
    rel: 0,
    autohide: 0,
    origin: window.location.origin
});
 </script>
