
    <!-- footer
    ================================================== -->
    <footer>

        <div class="footer-main">
            <div class="row">
                <ul class="footer-social-list" style="text-align: center;">
                    <li>
                        <img src={{"/images/logo.png" | relative_url }} style="width: 52px; background-color: #fff; border-radius: 100%"></li>
                    <li>
                        <img src={{"/images/logoproject.png" | relative_url }} style="width: 52px; background-color: #fff; border-radius: 100%"></li>
                    <li>
                        <img src={{"/images/logogov.png" | relative_url }} style="width: 52px; background-color: #fff; border-radius: 100%"></li>
                </ul>

            </div> <!-- /row -->
        </div> <!-- end footer-main -->


      <div class="footer-bottom">

      	<div class="row">

      		<div class="col-twelve">
	      		<div class="copyright">
		         	<span>© Copyright Naklua Journey 2018.</span> 
		         	<span>Design by <a href="http://magnamm.github.io/">magnamm studio</a></span>
		         </div>

		         <div id="go-top">
                    <!-- <a href="#"><i class="fa fa-facebook-square"></i></a> -->
                    <!-- <a href="#"><i class="fa fa-twitter"></i></a> -->
                    <!-- <a href="#"><i class="fa fa-instagram"></i></a> -->
                    <!-- <a href="#"><i class="fa fa-youtube-play"></i></a> -->
		            <a class="smoothscroll" title="Back to Top" href="#top"><i class="icon-arrow-up"></i></a>
		         </div>
	      	</div>

      	</div> <!-- end footer-bottom -->

      </div>

    </footer>

    <div id="preloader">
    	<div id="loader"></div>
    </div>

    <!-- Java Script
    ================================================== -->
    <script src={{ "js/jquery-2.1.3.min.js" | relative_url }}></script>
    <script src={{ "js/plugins.js" | relative_url }}></script>
    <script src={{ "js/main.js" | relative_url }}></script>
