<!DOCTYPE html>
<!--[if lt IE 9 ]><html class="no-js oldie" lang="th"> <![endif]-->
<!--[if IE 9 ]><html class="no-js oldie ie9" lang="th"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html class="no-js" lang="th">
<!--<![endif]-->

<head>

    <!--- basic page needs
   ================================================== -->
    <meta charset="utf-8">
    <title>Naklua Journey เที่ยวนาเกลือ ไม่เบื่อเลย</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- mobile specific metas
   ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- CSS
   ================================================== -->
   <link rel="stylesheet" href={{ "/css/micons/micons.css" | relative_url }}>
   <link rel="stylesheet" href={{ "/css/font-awesome/css/font-awesome.css" | relative_url }}>

   <link rel="stylesheet" href={{ "/css/style.css" | relative_url }}>
    <!-- <link rel="stylesheet" href="../css/base.css"> -->
    <!-- <link rel="stylesheet" href="../css/vendor.css"> -->
    <!-- <link rel="stylesheet" href="../css/main.css"> -->

    <!-- script
   ================================================== -->
    <script src={{ "/js/modernizr.js" | relative_url }}></script>
    <script src={{ "/js/pace.min.js" | relative_url }}></script>

    <!-- favicons
	================================================== -->
    <!-- <link rel="shortcut icon" href="favicon.ico" type="image/x-icon"> -->
    <!-- <link rel="icon" href="favicon.ico" type="image/x-icon"> -->

</head>