
    <!-- Testimonials Section
    ================================================== -->
    <section id="testimonials">
        <section id="maps">

        <div class="row">
            <div class="col-twelve">
                <h1 class="intro-header" data-aos="fade-up">แผนที่การท่องเที่ยว</h1>
            </div>
        </div>

        <div class="row owl-wrap">

            <div id="testimonial-slider"  data-aos="fade-up">

                <!-- <div class="slides owl-carousel"> -->

                    <div>
                        <p>
                            <a href="../maps"><img src="../images/map.png"></a>
                        <!-- Your work is going to fill a large part of your life, and the only way to be truly satisfied is
                        to do what you believe is great work. And the only way to do great work is to love what you do.
                        If you haven't found it yet, keep looking. Don't settle. As with all matters of the heart, you'll know when you find it. -->
                        </p>

                        <!-- <div class="testimonial-author">
                                <img src="images/avatars/user-02.jpg" alt="Author image">
                                <div class="author-info">
                                    Steve Jobs
                                    <span class="position">CEO, Apple.</span>
                                </div>
                        </div>  -->
                    </div>

                <!-- </div> --> <!-- end slides -->

            </div> <!-- end testimonial-slider -->
        <blockquote style="float: right; clear: both;" data-aos="fade-up"><a href="../maps"> อ่านต่อ <i class="mi mi-ResizeTouchNarrowerMirrored"></i></a></blockquote>

        </div> <!-- end flex-container -->
    </section>

    </section> <!-- end testimonials -->
    
