
    <!-- header
   ================================================== -->
   <header id="header" class="row">

   		<div class="header-logo">
	        <!-- <a href="{{site.url}}">Logo</a> -->
	    </div>
	        <a href={{"{{site.url}}" | relative_url }}><img src={{ "/images/logo.png" | relative_url }} style="width: 100px; background-color: #fff; border-bottom: solid; border-color: #69c; border-image-width: 10px"></a>

	   	<nav id="header-nav-wrap">
			<ul class="header-main-nav">
				<!-- <li class="current"><a class="smoothscroll"  href="#home" title="home">หน้าหลัก</a></li> -->
				<!-- <li><img src="../images/logo.png">sss</li> -->
                <li><a href={{"/about"|relative_url}} title="about">เกี่ยวกับ นาเกลือ</a></li>
				<li><a href={{"/product"|relative_url}} title="product">ผลิตภัณฑ์</a></li>
				<li><a href={{"/activity"|relative_url}} title="activity">กิจกรรม</a></li>
				<li><a href={{"/maps"|relative_url}} title="maps">แผนที่</a></li>
				<li><a href={{"/contact"|relative_url}} title="contact">ติดต่อ</a></li>
			</ul>

            <!-- <a href="#" title="sign-up" class="button button-primary cta">ห้ามกด</a> -->
		</nav>

		<a class="header-menu-toggle" href="#"><span>Menu</span></a>

   </header> <!-- /header -->



