
    <!-- pricing
    ================================================== -->
    <section id="pricing">
        <div class="row pricing-content">

            <div class="col-four pricing-intro">
                <h1 class="intro-header" data-aos="fade-up">สินค้า OTOP <br>นวัตวิถี นาเกลือ</h1>

                <!-- <p data-aos="fade-up">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium. 
                </p> -->
            </div>

            <div class="col-eight pricing-table">
                <div class="row">

                    <div class="col-six plan-wrap">
                        <div class="plan-block" data-aos="fade-up"> 

                            <div class="plan-top-part">
                                <img src="http://placehold.it/300x300">
                                <h3 class="plan-block-title">ห่อหมกปลาทะเลสูตรโบราณ</h3>
                                <!-- <p class="plan-block-price"><sup>$</sup>25</p> -->
                                <p class="plan-block-per">OTOP อาหาร</p>
                            </div>

                            <div class="plan-bottom-part">
                                <ul class="plan-block-features">
                                    <li><span>081-809-0968</span>  พี่แอนนี่</li>
                                </ul>

                                <a class="button button-primary large" href="">See all</a>
                            </div>  
                     
                        </div>
                    </div> <!-- end plan-wrap -->

                    <div class="col-six plan-wrap">
                        <div class="plan-block primary" data-aos="fade-up">

                            <div class="plan-top-part">
                                <img src="http://placehold.it/300x300">
                                <h3 class="plan-block-title">เจ้กานดา กรอบเค็ม</h3>
                                <!-- <p class="plan-block-price"><sup>$</sup>50</p> -->
                                <p class="plan-block-per">OTOP ขนม/</p>
                            </div>

                            <div class="plan-bottom-part">
                                <ul class="plan-block-features">
                                    <li><span>089-834-7257</span>  เจ้กานดา</li>
                                </ul>

                                <a class="button button-primary large" href="">See all</a>
                            </div>

                        </div>
                    </div> <!-- end plan-wrap -->

                </div>               
            </div> <!-- end pricing-table -->

        </div> <!-- end pricing-content -->
    </section> <!-- end pricing -->

