
    <!-- pricing
    ================================================== -->
    <section id="pricing">
        <div class="row pricing-content">

            <div class="col-two pricing-intro">
                <h1 class="intro-header" data-aos="fade-up">สินค้า OTOP <br>นวัตวิถี <br>นาเกลือ</h1>

                <!-- <p data-aos="fade-up">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium. 
                </p> -->
            </div>
            {% for product in site.data.product %}
            <div class="col-two pricing-table plan-wrap" data-aos="fade-up">
                <div class="container">
                    <a href="/product/#{{product.id}}">
                    <img src="{{product.img}}" class="image">
                    <div class="overlay">
                        <p class="text">{{product.name}}</p>
                    </div></a>
                </div>
            </div>
            {% endfor %}
<style type="text/css">
    .container {
      position: relative;
      width: 100%;
    }

    .image {
      display: block;
      width: 100%;
      height: auto;
    }

    .overlay {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      height: 100%;
      width: 100%;
      opacity: 0;
      transition: .5s ease;
      background-color: #008CBA;
    }

    .container:hover .overlay {
      opacity: 1;
    }

    .text {
      color: white;
      font-size: 20px;
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      text-align: center;
    }
</style>

          <blockquote style="float: right; clear: both;" data-aos="fade-up"><a href="../product"> ดูรายละเอียดเพิ่มเติม <i class="mi mi-ResizeTouchNarrowerMirrored"></i></a></blockquote>
        </div> <!-- end pricing-content -->
    </section> <!-- end pricing -->

