/* =================================================================== 
 *
 *  Dazzle v1.0 Main Stylesheet
 *  04-27-2017
 *  ------------------------------------------------------------------
 *
 *  TOC:
 *  01. webfonts and iconfonts
 *  02. base style overrides
 *  03. typography & general theme styles
 *  04. preloader
 *  05. forms
 *  06. buttons
 *  07. other components
 *  08. common and reusable theme styles
 *  09. header styles
 *  10. home
 *  11. about
 *  12. pricing 
 *  13. testimonials
 *  14. download
 *  15. footer styles
 *
 * =================================================================== */

/* ===================================================================
 *  13. testimonials - (_layout.scss)
 *
 * ------------------------------------------------------------------- */

#testimonials {
  background: #FFFFFF;
  padding: 15rem 0 9rem;
  text-align: center;
  min-height: 600px;
}

#testimonials h1::before {
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

#testimonials .owl-wrap {
  width: 80%;
  max-width: 900px;
  margin: 4.2rem auto 0;
}

#testimonial-slider {
  margin: 0 0 3rem 0;
  position: relative;
}

#testimonial-slider .slides {
  padding-bottom: 3rem;
}

#testimonial-slider p {
  font-family: 'prompt', sans-serif;
  font-size: 3.2rem;
  line-height: 1.5;
  color: #303030;
}

#testimonial-slider p::before,
#testimonial-slider p::after {
  display: inline-block;
  font-family: 'prompt', serif;
  font-size: 3.6rem;
  line-height: 1;
  position: relative;
  top: .3rem;
}

#testimonial-slider p::before {
  content: '\201C';
}

#testimonial-slider p::after {
  content: '\201D';
}

#testimonial-slider .testimonial-author {
  margin-top: 4.2rem;
}

#testimonial-slider .testimonial-author img {
  width: 7.4rem;
  height: 7.4rem;
  margin: 0 auto 1.2rem auto;
  display: block;
  border-radius: 50%;
}

#testimonial-slider .testimonial-author .author-info {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  font-family: 'prompt', sans-serif;
  font-size: 1.9rem;
  margin-top: .9rem;
  margin-bottom: 3rem;
  color: #151515;
}

#testimonial-slider .testimonial-author .author-info span {
  display: block;
  font-family: 'prompt', sans-serif;
  font-size: 1.6rem;
  line-height: 1.313;
  letter-spacing: 0;
  text-transform: none;
  color: rgba(0, 0, 0, 0.5);
  margin-top: .3rem;
}


/* owl dots */

#testimonial-slider .owl-nav {
  margin-top: 1.8rem;
  margin-bottom: 1.5rem;
  text-align: center;
  -webkit-tap-highlight-color: transparent;
}

#testimonial-slider .owl-nav [class*='owl-'] {
  color: #FFFFFF;
  font-family: 'prompt', sans-serif;
  font-size: 1.4rem;
  height: 3rem;
  line-height: 3rem;
  margin: .6rem;
  padding: 0 10px;
  background: rgba(0, 0, 0, 0.5);
  display: inline-block;
  cursor: pointer;
  border-radius: 3px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

#testimonial-slider .owl-nav [class*='owl-']:hover {
  background: rgba(0, 0, 0, 0.7);
  color: #FFFFFF;
  text-decoration: none;
}

#testimonial-slider .owl-nav .disabled {
  background: rgba(0, 0, 0, 0.2);
  cursor: default;
}

#testimonial-slider .owl-nav.disabled+.owl-dots {
  margin-top: 1.8rem;
}

#testimonial-slider .owl-dots {
  text-align: center;
  -webkit-tap-highlight-color: transparent;
}

#testimonial-slider .owl-dots .owl-dot {
  display: inline-block;
  zoom: 1;
  *display: inline;
}

#testimonial-slider .owl-dots .owl-dot span {
  width: 9px;
  height: 9px;
  background-color: #959595;
  margin: 9px 9px;
  display: block;
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
  transition: opacity 200ms ease;
  border-radius: 50%;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

#testimonial-slider .owl-dots .owl-dot.active span,
#testimonial-slider .owl-dots .owl-dot:hover span {
  background-color: #39b54a;
}


/* ------------------------------------------------------------------- 
 * responsive:
 * testimonials
 * ------------------------------------------------------------------- */

@media only screen and (max-width: 1024px) {
  #testimonial-slider p {
    font-size: 3rem;
  }
}

@media only screen and (max-width: 768px) {
  #testimonial-slider p {
    font-size: 2.6rem;
  }
  #testimonial-slider .testimonial-author img {
    width: 6.6rem;
    height: 6.6rem;
  }
  #testimonial-slider .testimonial-author .author-info {
    font-size: 1.8rem;
  }
  #testimonial-slider .testimonial-author .author-info span {
    font-size: 1.5rem;
  }
}

@media only screen and (max-width: 600px) {
  #testimonials .owl-wrap {
    width: 90%;
  }
  #testimonial-slider p {
    font-size: 2.4rem;
  }
}

@media only screen and (max-width: 400px) {
  #testimonials .owl-wrap {
    width: 100%;
  }
  #testimonial-slider p {
    font-size: 2rem;
  }
}
