{% include header.html %}

<body id="top">

    <!-- header 
   ================================================== -->
    {% include nav.html %}   


   <!-- home
   ================================================== -->
    {% include home.html %}  

    <!-- about
    ================================================== -->
    {% include about.html %} 

   <!-- home
   ================================================== -->
    {% include product.html %}  

    <!-- home
   ================================================== -->
    {% include activity.html %}  

    <!-- home
   ================================================== -->
    {% include maps.html %}  

    <!-- home
   ================================================== -->
    {% include contact.html %}  




{% include footer.html %}

</body>

</html>