{% include header.html %}

<body id="top">

    {% include nav.html %}
    
    {% include home.html %}

    {% include about.html %}

    {% include product.html %}

    {% include activity.html %}

    {% include maps.html %}

    {% include contact.html %}

<style>
    #header{
        top: -150px;
    }
</style>
    <script>
            // When the user scrolls down 20px from the top of the document, slide down the navbar
            window.onscroll = function() {scrollFunction()};
            
            function scrollFunction() {
              if (document.body.scrollTop > 300 || document.documentElement.scrollTop > 300) {
                document.getElementById("header").style.top = "0";
              } else {
                document.getElementById("header").style.top = "-120px";
              }
            }
            </script>


{% include footer.html %}

</body>

</html>